@font-face {
  font-family: 'Distant Galaxy';
  src: url(../../util/fonts/Distant-Galaxy.ttf);
}

.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  font-family: 'Distant Galaxy', sans-serif;
  font-size: 7vw;
  padding-bottom: 5px;
  box-shadow: 0px 1px 5px black;
  color: rgb(192, 192, 192);
  z-index: 100;
  align-items: center;
  text-shadow: -3px -3px 0 rgb(76, 139, 245, 0.4), 3px -3px 0 rgb(76, 139, 245, 0.4), -3px 3px 0 rgb(76, 139, 245, 0.4), 3px 3px 0 rgb(76, 139, 245, 0.4);
}

.tv {
  height: 8vw;
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .header {
    font-size: 3.5vw;
  }
  .tv {
    height: 4.5vw;
  }
}