.carousel {
  display: flex;
  flex-direction: column;
  object-fit: center;
  padding: 10px;
  text-align: center;
}
.carousel p {
  margin-top: auto; 
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.carousel b {
  margin-top: auto; 
  margin-bottom: 5px;

  font-size: 14px;
}
.carousel_img {
  border-radius: 10px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px black;
  height: 135px; 
  width: 90px;
}

.chip-container {
  display: flex;
  justify-content: center;
}